.History {
    width: 652px;
    min-height: 50px;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    position: relative;

    &__link {
        position: absolute;
        right: 15px;
        top: 0;
        cursor: pointer;
    }

    &__item {
        display: flex;
        padding: 30px 15px;
        background-color: #f8d4c3;
        color: white;
    }

    &__text {
        &:not(:last-of-type) {
            margin-right: 30px;
        }

        &:first-of-type {
            margin-right: 50px;
        }
    }

    &__sort {
        position: absolute;
        top: -40px;
        left: 0;
    }
}